
<form action="/login" method="POST" class="registro">
<h2>Iniciar Sesión</h2>
  <!--<label for="username">Username*:
    <input type="text" name="username" id="username" required>
  </label>-->
  <div class="seccion">
    <label for="email">e-mail*:
    <input type="text" name="email" id="email" required>
  </label>
</div>
<div class="seccion">
  <label for="password">Password*:
    <input type="password" name="password" id="password" required>
  </label>
</div>
  {{#if errorMessage}}
    <div class="error-message">{{ errorMessage }}</div>
  {{/if}}
  
  <button type="submit">Login</button>
  
  <p>Don't have an account already? <a href="/signup">Signup</a></p>
  
</form>
    <video autoplay loop id="video_background" preload="auto" muted >
   <source src="../img/Nature.mp4" type="video/mp4" />
 </video>