
<form action="/profile/{{_id}}/delete" method="POST" class="formdeletebutton">
    <input type="text" hidden name="_method" value="Delete">
    <button type="submit" class="deletebutton"><img alt="trash" src="/img/trash.png" /></button>
</form>