<p></p>
<form action="/profile/{{_id}}/edit" method="POST">
    {{!-- <input type="text" name="_method" value="{{restMethod}}" hidden> --}}
    <label for="name">name</label>
    <input type="text" name="name" id="name">
    <label for="image">image</label>
    <input type="file" name="image" id="image">
    <label for="description">description</label>
    <input type="text" name="description" id="description">
    <button type="submit">Edit Plant</button>
</form>