<p></p>
<form action="/profile/{{_id}}/edit" method="POST">
    <label for="name">Nombre</label>
    <input type="text" name="name" id="name">
    <label for="image">Imagen</label>
    <input type="file" name="image" id="image">
    <label for="description">Descripción</label>
    <input type="text" name="description" id="description">
    <button type="submit">Editar</button>
</form>