<form action="{{action}}" method="{{method}}">
    <input type="text" name="_method" value="{{restMethod}}" hidden>
    <label for="name">name</label>
    <input type="text" name="name" id="name">
    <label for="image">image</label>
    <input type="text" name="image" id="image">
    <label for="description">description</label>
    <input type="text" name="description" id="description">
    <button type="submit">{{btnText}}</button>
</form>