<header class="home">
	<div class="overlay">
<h1>Bienvenido</h1>
<h3></h3>
<p>En Frienldy Plants entontrarás tu propio espacio para compartir tus plantas, y encontrar consejos para un buen cuidado</p>
		</div>
</header>
<main>
    <section></section>
    <section></section>
</main>
