<header class="home">
	<div class="overlay">
<h1>Bienvenido</h1>
<h3>Aquí encontrarás secciones que ayudarán a tus plantas</h3>
<p>En Frienldy Plants entontrarás tu propio espacio para compartir tus plantas, y encontrar consejos para un buen cuidado</p>
		</div>
</header>
<div class="homemain">
    <section class="esquejes-home">
    <a href="/esquejes"><img alt="esquejes" src="/img/logo-esqueje.png"/>
        <h2>Esquejes</h2></a>
    </section>
    <section class="tips-home">
<a href="/tips">
        <img alt="esquejes" src="/img/tipsg.png"/>
                <h2>Consejos</h2></a>
    </section>
    <section class="list-home">
<a href="/list">
       <img alt="esquejes" src="/img/list.png"/>
              <h2>Plantas</h2></a>
    </section>
</div>
