<div class="paginaprincipal">
<img alt="Logo-Friendly" src="/img/logo.png" class="logo-principal" />
</div>
<div class="paragrafo">
<p>Comparte tu aficion con las plantas, con otros usuarios intercambiando plantas, esquejes y cuidados!</p>
</div>
     <div class="sign">
     <a href="/signup">Registrarse</a>
     </div>
     <div class="login">
    <a href="/login">Iniciar Sesión</a>
    </div>
    <video autoplay loop id="video_background" preload="auto" muted />
   <source src="../img/Nature.mp4" type="video/mp4" />
 </video>