
<div class="plantdetail">
<div class="boxplant">
<h3 class="detailstitle" id="name">{{name}}</h3>
<div class="details">
<img alt="" src="{{image}}">
  <div class="marco">
<p id="description">{{description}}</p>
Autor: {{author.username}}
</div>
</div>
</div>
<div class="form">
{{> plantForm}}
</div>
</div>
