*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none!important;
}
/* contenido 
.content{
    margin-bottom: 350px;
  } */
  /*navbar*/
.logo{
    max-width: 100px;
    background-color: rgba(255, 255, 255, 0.322);
    border-radius: 100%;
}
.navbar{
    position: -webkit-sticky!important;
position: sticky!important;
top: 0;
}
.navbar-nav{
    width: 100%;
    justify-content: flex-end!important;
}
.nav-item{
    font-weight: 700;
    text-align: center!important;
}
.dropdown-menu {
    text-align: center!important;
}

/* Titulo */
.title {
    font-size: 25pt;
}

/*home*/
.home {height: 900px;}
.home {
    background: url('/img/prueba3bck.jpg');
	text-align: center;
	width: 100%;
	height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
	background-attachment: fixed;
    /*position: relative;*/
	overflow: hidden;
	border-radius: 0 0 85% 85% / 30%;
}
.home .overlay{
	width: 100%;
	height: 100%;
	padding: 50px;
	color: #FFF;
	text-shadow: 1px 1px 1px #333;
    background-image: linear-gradient( 135deg, #b3cc9b9f 10%, #d197766b 100%);
	
}

.home h1 {
    font-family: 'Nunito', sans-serif;
	font-size: 80px;
	margin-bottom: 30px;
}

.home h3, p {
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 30px;
}

/* list */
.paginaprincipal{
    width: 100%;
    height: auto;
    text-align: center;
}
.paragrafo{
    width:50%;
    padding:8px;
    margin:auto;
    color: #ffffff;
    background-color: #4e744163;
    text-align: center;
    font-size: 18pt;
}
/* Video fondo */
#video_background {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
    overflow: hidden;
    }
#video_pattern {
    background:#fff;
    position: fixed;
    opacity: 0.8;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
    }
    /* SING UP LOGIN */
.sign,.login{
    text-align: center;
    margin: 5% 0;
}
/* Pagina registro */
.registro {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    padding: 40px;
    background: rgba(207, 207, 207, 0.6);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,0.5);
    border-radius: 10px;
}
.registro h2{
    margin: 0 0 30px;
    padding: 0;
    color: #000000;
    text-align: center;
}
.registro .seccion {
    position: relative;
}
.registro .seccion label{
    color: #000000;
}
.registro .seccion label input{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #000000;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}
.registro button {
    border: none;
    outline: none;
    color: #fff;
    background:#4e7441ec;
    margin-bottom: 5%;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}
.registro a{
    color:#fff;
}
/* Profile */
.formplant{
    padding: 8%;
}


.formplant .seccion input{
    width: 100%;
    font-size: 16px;
    color: #000000;
    margin-bottom: 20px;
}
.formplant button {
    border: none;
    outline: none;
    color: #fff;
    background:#4e7441ec;
    margin-bottom: 5%;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}
/* newplant */
.newplant .seccion{
    display: inline-block;
    padding: 0 10px;
}
/*.formimg {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.formimg + label {
    font-size: 1em;
    color: white;
    padding: 2px 4px;
    background-color: #4e7441;
    display: inline-block;
}

.formimg:focus + label,
.formimg + label:hover {
    background-color: #4e7441ec;
}*/

.profile{
    width:50%;
    padding:8px;
    margin:auto;
    text-align: center;
}
.profile img{
    width: 200px;
}

button{
    border: none;
    background-color: #fff;
}
button #like{
    width: 50px;
    height: 50px;
}
/* plant detail */
.plantdetail{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 5% 0;
}

.plantdetail .boxplant{
    max-width: 600px;
    padding: 2%;
}
.plantdetail .form{
    padding: 10%;
}
#description{
    padding: 5%;
    text-align: justify;
}
/* fav link*/
.fav{
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding: 10px 20px;
}
.fav:hover {
    color: rgb(255, 255, 255)!important; 
border: 0.5px solid rgba(94, 93, 93, 0.24);
background-color: #4e7441;

}
/*edit button profile*/
.editar a{
    background-color: #4e7441;
    display: inline-block;
    border:2px solid #4e7441 ;
    color: #fff!important;
    padding: 10px 20px;
    margin: 20px 0;
}
/* delete button */
.deletebutton{
    display: inline-block;
    /*border:2px outset #4e7441 ;*/
    border-style: outset;
    background-color: #fff;
    color: #fff;
}
.deletebutton:hover{
    border-style: inset ;
}
.deletebutton img {
    max-width: 50px;
    max-height: 50px;
 
}
/*Footer*/
#footer {
    width: 100%;
    height: 150px;
    background: #f8f9fa;
    position: absolute; 
  }


/* List Plants */
.plants, .homemain{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    text-align: center;
    margin: 2% 0%;

}
.plants img{
    width: 400px;
    height: 400px;
    padding: 15px;
    border-radius: 20%;
}
#listplant{
    width: 400px;
    background-color: rgba(228, 226, 226, 0.048);
    box-shadow: 0px 0px 5px 5px rgba(165, 164, 164, 0.322);
    border-radius: 2%;
    padding-top:20px;
}
.listprofile{
    padding-bottom: 20px;
}
/*edit button*/

.editbutton {
    background-color: #4e7441;
    text-align: center;
}
.editbutton a{
    color: #ffffff!important;
    font-size: 15pt;
    font-weight: bolder;
    padding: 15px 0px;
    display: block;
}
.listprofile h3 {
    display: block;
    text-align: center;
    color:#4e7441;
    
}
#listplant h3,.container_favorite{
    display: inline-block;
}
#listplant p{
    padding: 0 10px;
}
.details{
    width: 100%;
    height: auto;
    text-align: center;
    padding: 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.marco {
    width: 600px;
}
.detailstitle{
    font-size: 23pt;
    margin-top: 20px;
    text-align: center;
}
.details img {
    width: 400px;
    height: auto;
    padding-bottom: 20px;
    border-radius:2%;
}
.details p,h5{
    margin: 0 20px;
    text-align: justify;
}

/*esquejes y tips*/
.esquejes h1,.tips h1{
    text-align: center;
    padding: 2% 0;
}
.esquejes img{
    max-width: 600px;
    height: auto;
    width: 100%;
    padding: 0 4%;
    display: block;
    margin: auto;
}
.esquejes section, .tips section{
    padding: 5% 20%;
}
.esquejes section p{
    padding: 10px 0;
}
.tips section{
    padding: 1% 20%;
}
.comentarios,.comentario{
    padding: 0 4%;
}
.comentario{
    background-color: #5d864d94;
    padding: 2%;
}
.comentario button{
    padding: 15px;
    margin: 15px 0;
    border-radius: 10px;
    border: 0px; 
    font-size: 15pt;
    font-weight: 500;
}
.comentarios{
    background: url('/img/prueba3bck.jpg');
	text-align: left;
	width: 100%;
	height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
	background-attachment: fixed;
    /*position: relative;*/
    overflow: hidden;
    margin-top: 2%;
    padding: 4%;
}
.comentarios h2, .comentarios h5{
    color: #ffffff;
}
.comentarios .cadacomentario{
    color: #e5fbdb;
    background-color: #7db96880;
    padding: 1% 2%;
    margin: 1% 0%;
}


@media only screen and (max-width: 1200px) {
    .home h1{
        font-size: 45px;
    }
    .home h3{
        font-size: 25px;
    }
    /* Logo pagina principal */
    .logo-principal{
        max-width: 300px;
        width: 100%;
        height: auto;
        margin: 10% 10% 5% 10%;
    }
    .sign a,.login a{
        display: block;
        text-decoration: none;
        text-align: center;
        color: #ffffff!important;
        max-width:200px;
        padding:8px;
        margin:auto;
        padding: 15px;
        font-size: 16pt;
        background-color: #4e7441;
        border-radius: 50px;
        }
        #listplant{
            width: 400px;
            margin: 15px 0;
        }
    #footer p{ 
            text-align: center;
            padding:5% 10%;
            color: #000000;
            vertical-align: middle;
            display: inline-block;
        }
        #footer img{
            width: 100px;
            height: auto;
            display: inline-block;
            margin: 0% 5%;
        }
        .homemain section{
            padding-bottom:10%;
        }
        .comentario button{
            width: 100%;
        }
    
    }
    @media only screen and (min-width: 1200px) {
        .logo-principal{
            max-width: 400px;
            width: 50%;
            height: auto;
            margin: 5%;
            background-color: rgba(255, 255, 255, 0.26);
        }
        .sign,.login{
            margin: 20px;
        }
        .sign a,.login a{
            display: block;
            text-decoration: none;
            text-align: center;
            color: #ffffff!important;
            max-width:200px;
            padding:8px;
            margin:auto;
            font-size: 16pt;
            background-color: #4e7441;
            border-radius: 50px;
            }
        #footer p{ 
                text-align: center;
                color: #000000;;
                vertical-align: middle;
                display: inline-block;
            }
        #footer img{
                width: 100px;
                height: auto;
                display: inline-block;
                margin: 0% 5%;
            }
        #listplant{
                margin-bottom: 8%;
            }
        .marco{
            padding-top: 1%;
        }
    
    }
    /*home sections*/

 
.homemain section{
    cursor: pointer;
    margin: 5%;
    vertical-align: bottom;
}
.homemain section img{
    width: 100%;
    height: 300px;
}
/*.homemain .esquejes-home {    
    background-image: url('/img/logo-esqueje.png');
    background-size: cover;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.4;
}
.homemain .tips-home {    
    background-image: url('/img/tipsg.png');
    background-size: cover;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.4;
}
.homemain .list-home {    
    background-image: url('/img/list.png');
    background-size: cover;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.4;
}*/
.homemain section h2{
    color: #000;  
    font-size: 3rem;
    line-height: 0.9;
    text-align: center;
}
