<div class="details">
    <h3 id="name">{{name}}</h3>
    <div class="marco">
<img alt="" src="{{image}}">
<p id="description">{{description}}</p>
<h5 id="Autor">Autor: {{user.username}}</h5>
</div>
</div>
