<header class="home">
	<div class="overlay">
<h2 class="title">Detalles</h2>
		</div>
</header>

<h3 class="detailstitle" id="name">{{name}}</h3>
<div class="details">
<img alt="" src="{{image}}">
  <div class="marco">
<p id="description">{{description}}</p>
<h5 id="Autor">Autor: {{author.username}}</h5>
</div>
</div>
<!-- Formulario para comentar la planta -->
<h5>Envia un mensaje al usuario!</h5>
<div class="comentario">
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Email address</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Mensaje:</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>
<button type="submit" style="border: 1px solid #000;">Enviar mensaje</button>
</div>