<article class="esquejes">
<h1>Pasos Esquejes</h1>
<img alt="esqueje" src="/img/esqueje.png"/>
<section>
<h4>1. Elige un buen corte</h4>
<p>
Lo primero es decidir qué parte de la planta vas a cortar. Un tallo tierno, una rama que acaba de brotar, incluso una hoja en algunas especies. Lo importante es que el esqueje esté sano y bien desarrollado. La longitud variará en función del tipo y tamaño de la planta, pero en general se cortan entre 10 y 15 cm. Eso sí, siempre por debajo de uno de los nudos, dejando no más de tres nudos en el total del gajo y procurando que no tenga flores (acaparan las reservas de alimento).

El corte debe ser limpio, con unas buenas tijeras de poda, y preferiblemente horizontal en la base y diagonal en la punta.</p>

 

<h4>2. Quita lo que sobre</h4>
<p>Una vez obtenido el esqueje, debes tratarlo y retirar las hojas más grandes y todas las de la parte inferior (basales), las flores y las yemas sobrantes. De esta forma te aseguras de que la planta absorbe todos los nutrientes que necesita para estimular el desarrollo de sus raíces.</p>


<h4>3. Agua o tierra, tú decides</h4>
<p>Ya está preparado el esqueje. Ahora llega el momento de que empiece a enraizar. Puedes introducirlo en un recipiente con agua, o en una pequeña maceta con tierra o arena. Para que las raíces crezcan y se desarrollen de manera óptima, en el caso del agua deberás procurar que esté perfectamente limpia –eso es muy importante- y luego añadir un fertilizante líquido, muy diluido, para aumentar los nutrientes. También deberás evitar la luz directa del sol.

En caso de que elijas tierra o arena, ésta debe ser rica en materia orgánica y mantenerse siempre húmeda (pero cuidado, no encharcada). Te aconsejamos pulverizar el esqueje frecuentemente.

Si quieres estimular aún más el crecimiento de las raíces, también puedes impregnar el esqueje con hormonas de enraizamiento.</p>

 

<h4>4. El momento perfecto para trasplantarlos</h4>
<p>Pasarán unos días o semanas hasta que empiecen a salir las raíces. Mantén siempre los cuidados adecuados. Una vez los esquejes hayan enraizado correctamente (unos 5 cm de longitud) y observes que empiezan a brotar nuevas yemas y hojas, es el momento de trasplantarlos a la maceta que va a ser su hogar definitivo. Retira el esqueje con mucho cuidado y entiérralo a una profundidad de tres cuartas partes de su longitud, más o menos. Una tierra rica en materia orgánica y con un buen drenaje es lo ideal. Y ahora puedes colocar la maceta en un lugar más soleado y ver cómo siguen creciendo y floreciendo.</p>


<h4>5. No todas las plantas son iguales</h4>
<p>También en cuestión de esquejes existen notables diferencias entre unas especies y otras. Hay plantas que enraízan con mucha facilidad y otras a las que les cuesta más, o directamente no son aptas para este sistema de reproducción. Elige plantas que no sean leñosas, y si son verdes, mejor que semileñosas. Entre las especies más adecuadas están el geranio, la rosa, el clavel, la begonia, la hortensia, la lavanda, el crisantemo, la dalia, la violeta africana…

También muchos árboles y arbustos se pueden multiplicar por esquejes (brezo, madreselva, abedul, sauce, olivo, higuera, las diferentes especies de ficus…). Los bonsáis nacen, precisamente, de esquejes de árboles.</p>

 

<h5>Algunos consejos prácticos para asegurar el éxito</h5>
<p>
- Una hora antes de cortar el esqueje, riega la planta abundantemente.

- Mantén un ambiente húmedo constante y un buen drenaje. Puedes cubrir tus esquejes con un plástico para conservar mejor la humedad.

- Debes cuidar la higiene al máximo en todo el proceso. En los recipientes, en las herramientas, el agua… Es la mejor prevención ante posibles hongos y bacterias.

- Las hormonas de enraizamiento no son obligatorias, pero facilitan que las raíces crezcan más rápido.

- Ten paciencia. Aunque a veces sientas que no sucede nada, empezarás a ver resultados pasadas unas pocas semanas.</p>
</section>
</article>