<header class="home">
	<div class="overlay">
<h2 class="title">CONSEJOS</h2>
		</div>
</header>
<article class="tips">

<section>
<h4><a href="https://www.vix.com/es/imj/hogar/3956/5-consejos-para-cuidar-plantas-interiores"> 5 consejos para cuidar plantas interiores</a></h4>
<p><i> Si tienes plantas de interior es necesario seguir algunas recomendaciones. Por ello, aquí tienes 5 consejos para cuidar plantas interiores y disfrutar de un ambiente sano y reconfortante.</i></p>
</section>
<section>
<h4><a href="https://www.vix.com/es/imj/hogar/3862/cuales-son-las-mejores-plantas-de-interior?utm_source=internal_link">Cuáles son las mejores plantas de interior</a></h4>
<p>Las plantas de interior le dan calidez al hogar y son igual de divertidas a la hora de hacer la jardineria que las plantas que están en el exterior; las plantas de interior ayudan a limpiar el ambiente que las rodea y sirven como decoración</p>
</section>
<section>
<h4><a href="https://www.elmueble.com/casas/8-trucos-caseros-jardineria-que-mantendran-tus-plantas-esplendorosas_42334">8 Trucos caseros de jardinería que meantendrán tus plantas esplendorosas</a></h4>
<p>A veces tus plantas no lucen felices. Y eso lo expresan cuando su color se torna apagado, sus hojas pierden fuerza o amarillean, o han dejado de florecer</p>
</section>
<section>
<h4><a href="https://mlcestudio.es/2019/03/consejos-para-cuidar-plantas.html">Consejos para cuidar pantas</a></h4>
<p>Para que una planta sobreviva hay que tener en cuenta muchos factores. Aunque una vez entras en la rutina no es nada complicado, antes debes pensar en varias cosas y analizar tu casa</p>
</section>
<section>
<h4><a href="https://www.interflora.es/blog/cuidados-paras-unas-plantas-interior-perfectas/">Cuidados para unas plantas de interior perfectas</a></h4>
<p>Esos minutos en los que te ocupas de mimarlas serán más productivos si conoces consejos y tips para disfrutar de su esplendor por más tiempo</p>
</section>
</article>