<header class="home">
	<div class="overlay">
<h1 class="title">CONSEJOS</h1>
		</div>
</header>
<article class="tips">

<section>
<h4><a href="https://www.vix.com/es/imj/hogar/3956/5-consejos-para-cuidar-plantas-interiores"> 5 consejos para cuidar plantas interiores</a></h4>
<p><i> Si tienes plantas de interior es necesario seguir algunas recomendaciones. Por ello, aquí tienes 5 consejos para cuidar plantas interiores y disfrutar de un ambiente sano y reconfortante.</i></p>
</section>
<section>
<h4><a href="https://www.vix.com/es/imj/hogar/3862/cuales-son-las-mejores-plantas-de-interior?utm_source=internal_link">Cuáles son las mejores plantas de interior</a></h4>
<p>Las plantas de interior le dan calidez al hogar y son igual de divertidas a la hora de hacer la jardineria que las plantas que están en el exterior; las plantas de interior ayudan a limpiar el ambiente que las rodea y sirven como decoración</p>
</section>
</article>